<?xml version="1.0" encoding="UTF-8"?>


<!--
	Some general settings for the octree creation, these affects the performance of the game while the octree is under construction.
-->

<!-- maxVoxelResolution highest resolution leaf voxels in the octree, given in meters -->
<!-- maxOctreePreLoops how many loops to do initially when loading into the game,
    helps to avoid creating the octree very long while the game is running. (Causes game to take a few seconds before the game world becomes available)
-->
<!-- maxOctreeGenerationLoopsPerUpdate how many loops per update to generate the octree, HEAVILY affects performance. But the smaller the value the longer it takes to generate the octree navigation grid. -->
<Config>
<octreeConfig maxVoxelResolution="1" maxOctreePreLoops="125000" maxOctreeGenerationLoopsPerUpdate="20" />
<aStarConfig maxSearchedNodes="100000" maxPathfindLoops="100" />

</Config>


